
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="ITaxRepository" type="GenericInterfaceDataModel.ITaxRepository`2, GenericInterfaceDataModel" />
    <alias alias="StateRequest" type="GenericInterfaceDataModel.StateRequest, GenericInterfaceDataModel" />
    <alias alias="StateResponse" type="GenericInterfaceDataModel.StateResponse, GenericInterfaceDataModel" />
    <container>
      <register type="ITaxRepository[[StateRequest],[StateResponse]]" mapTo="GenericInterfaceDataModel.TaxCalculatorState, GenericInterfaceDataModel" />
    </container>
  </unity>